<h1 class="front_headline">Let's get your budget made</h1>
<div class="budget_numbers">
    <div class="fifty">50</div>
</div>
<h2 class="front_subheadline">List your bills and necessary purchases</h2>
<div class="necessitys">
    <input type="text" class="input_necessitys" placeholder="e.g.Car Payment">
    <input type="text" class="input_necCost" placeholder="300">
    <input type="text" class="input_necessitys" placeholder="e.g.Car Payment">
    <input type="text" class="input_necCost" placeholder="300">
    <input type="text" class="input_necessitys" placeholder="e.g.Car Payment">
    <input type="text" class="input_necCost" placeholder="300">
    <input type="text" class="input_necessitys" placeholder="e.g.Car Payment">
    <input type="text" class="input_necCost" placeholder="300">
</div>
<div class='fttBtn'>Add another row</div>
<div class='fttBtn'>Finish</div>
<div id='footerNostick'>
    <div class="copyright">Copyright &#169; 2020 Damien Sandoval. All rights reserved.</div>
  </div>
  